
table {
    border-spacing: 2px;
    border-color: grey;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    border: 1px solid;
    
}

td{
    font-family: Verdana, Arial , Times New Roman, sans-serif;
    font-size: 10pt;
    color:#004294;
    text-decoration:none;
    cursor: pointer;
    
}

.DoNotBreak{
    white-space:nowrap;
    background-color: #d4c0a1;
}

.Container{
    font-size: 9pt;
    background-color: #fff2db;
    color: #000000;
    min-height:367px;
    height: auto!important;
    height: 387px;
}
.background-brown {
    background-color: #faf5f0;
}
.background{
  background-color: #d4c0a1;
}